<div class="row">
    <div class="col-xs-12">
        <h1><%= board.escape('title') %>
            <button class="btn btn-warning btn-xs" id="delete-board">
                Delete Board
            </button>
        </h1>

    </div>
</div>

<a href="#/<%= board.escape('id') %>/new_list"
    class="btn btn-primary">New List</a>
    <div class="row">
        <div class="lists sortable col-xs-12"></div>

        <div class="col-xs-4">
            <form id="add-member">
                <label for="group-member">Add Member</label>
                <div class="input-group">
                    <input type="text"
                    class="form-control"
                    id="group-member"
                    name="group[member]"
                    placeholder="Enter Member"
                    >
                    <span class="input-group-btn">
                        <input class="btn btn-primary"
                        type="submit"
                        value="Add Member">
                    </span>
                </div>
            </form>
        </div>
    </div>
