/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.list {
    min-height: 200px;
    list-style: none;
    box-shadow: 0 0 3px #aaa;
    border-radius: 5px;
    padding: 10px;
}

div.card {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px #aaa;
    background-color: rgba(81, 163, 81, 0.2);
}

div.card h4 {
    color: #000;
}

ul {
    list-style: none;
}

.cards {
    min-height: 100px;
}