<!-- <div class="list"> -->
    <h4><%= list.escape('title') %></h4>
    <ul class="cards sortable-cards" data-id="<%= list.escape('id') %>"></ul>
    <!-- <button class="new-card btn btn-sm btn-primary">New Card</button> -->

    <!-- Button trigger modal -->
    <button class="btn btn-primary new-card-button" >
        New Card
    </button>
    <div class="new-card"></div>
<!-- </div> -->
